.footer {
  padding: 79px 0 10px 0;
  background-color: #202020;
}

.footer__wrapper {
  max-width: calc(320px - (2 * 10px));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.footer__text {
  width: 100%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #8b8b8b;
  border-bottom: 1px solid #424242;
  padding: 0 0 20px 0;
  margin: 0;
}

.footer__links-wrapper {
  display: flex;
  flex-direction: column-reverse;
  margin: 30px auto 0;
  padding: 0;
}

.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #8b8b8b;
  text-align: center;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

.footer__links {
  padding: 0;
  text-align: center;
  display: flex;
  gap: 12px;
  flex-direction: column;
  margin: 0 0 30px 0;
}

.footer__link {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.footer__link:hover {
  opacity: 0.7;
}

.footer__list-item {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* 768 */
@media screen and (min-width: 768px) {
  .footer {
    padding: 79px 0 20px 0;
  }

  .footer__wrapper {
    max-width: calc(768px - (2 * 30px));
  }

  .footer__links-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .footer__text {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__copyright {
    font-size: 13px;
    line-height: 16px;
  }

  .footer__links {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 20px;
  }

  .footer__link {
    font-size: 13px;
    line-height: 16px;
  }
}

/* 1280 */
@media screen and (min-width: 1280px) {
  .footer__wrapper {
    max-width: calc(1280px - (2 * 70px));
  }
}
