.about-me {
  background-color: #202020;
  width: 100%;
}

.about-me__wrapper {
  margin: 0 auto;
  max-width: calc(320px - (2 * 14px));
  padding: 70px 0 70px 0;
}

.about-me__content-wrapper {
  display: flex;
  flex-direction: column;
}

.about-me__title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.04em;
  color: #fff;
  border-bottom: 1px solid #dadada;
  margin: 0 auto 60px;
  padding: 0 0 28px 0;
}

.about-me__photo {
  border-radius: 10px;
  max-width: 292px;
  width: 100%;
  height: 352px;
  object-fit: cover;
  box-sizing: border-box;
}

.about-me__subtitle {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: -0.04em;
  color: #fff;
  padding: 0;
  margin: 40px 0 20px 0;
}

.about-me__caption {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #fff;
  margin: 0;
  padding: 0;
}

.about-me__text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 16px;
  color: #fff;
  padding: 0;
  margin: 20px 0 40px 0;
}

.about-me__links {
  list-style: none;
  padding: 0;
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: row;
}

.about-me__link {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-decoration: none;
  padding: 0;
  margin-right: 20px;
  transition: opacity 0.2s ease-in-out;
}

.about-me__link:hover {
  opacity: 0.7;
}

/* 768 */
@media screen and (min-width: 768px) {
  .about-me__wrapper {
    max-width: calc(768px - (2 * 50px));
    padding: 90px 0 90px 0;
  }

  .about-me__title {
    font-size: 22px;
    line-height: 27px;
    margin: 0 auto 66px;
  }

  .about-me__photo {
    max-width: 255px;
    height: 308px;
  }

  .about-me__subtitle {
    margin: 0 0 16px 0;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__caption {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    margin: 20px 0 0 0;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__content-wrapper {
    display: flex;
    flex-direction: row-reverse;
    gap: 49px;
  }
}

/* 1280 */
@media screen and (min-width: 1280px) {
  .about-me__wrapper {
    max-width: calc(1280px - (2 * 70px));
    padding: 110px 0 110px 0;
  }

  .about-me__subtitle {
    margin: 0 0 18px 0;
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__caption {
    font-size: 18px;
    line-height: 20px;
  }

  .about-me__text {
    margin: 26px 0 0 0;
    font-size: 14px;
    line-height: 22px;
  }

  .about-me__photo {
    max-width: 270px;
    height: 327px;
  }

  .about-me__content-wrapper {
    gap: 270px;
  }
}
